<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webtopia</title>
</head>
<style>
    table,th,td{
        border:1px solid black
    }
</style>
<body>
    <div id="app">
        <div>
        <label>Name: </label>
        <input type="text" placeholder="Name" v-model="name">&nbsp;
        <label>Age: </label>
        <input type="number" placeholder="Age" v-model="age">&nbsp;
        <button @click="add">Add</button>
        </div>
        <br>
        <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
            <tr v-for="person in people">
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
            </tr>
        </table>
    </div>
        <div><h2>{{onTimeData}}</h2></div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    people:[{name:'Ruby', age:20}, {name:'Guava', age:18}, {name:'Boss', age:19}],
                    name:'',
                    age:0
                }
            },
            methods: {
                add(){
                    this.people.push({name:this.name, age:this.age})
                }
            },
            computed:{
                onTimeData(){
                    return 'Would you like to insert '+this.name+' to block of contents?'
                }
            }
        });

        app.mount('#app');
    </script>
    
</body>

</html>
